body {
  font-family: Arial, sans-serif;
}
h1 {
  color: rgb(135, 135, 135);
  font-size: 24px;
  font-weight: 100;
  height: 20px;
  line-height: 50px;
  list-style: none;
}

ul {
  margin: 0 0 20px;
  padding: 0;
}

li {
  color: rgb(245, 223, 30);
  font-size: 24px;
  font-weight: 100;
  height: 28px;
  line-height: 50px;
  list-style: none;
}

.weatherapp {
  border: 1px solid;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.sun {
  height: 15px;
  margin-right: 10px;
}
.units {
  position: relative;
  top: -32px;
}
.weather-search-form {
  margin-bottom: 10px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
